# {{ ansible_managed }}
# Screen file

shell $SHELL

# scrollback
defscrollback 20000
termcapinfo xterm ti@:te@

# use regular audible bell and don't tell me when bells happen in other windows
vbell off
bell_msg ""

# skip intro
startup_message off

# detach on disconnect
autodetach on

# make search case-insensitive
ignorecase on

# so it won't seem like there is a delay when entering copy mode
msgminwait 0
